*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(9, 106, 106);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

